<h3 class="text-primary">courses works!</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
         <th>Course Id</th>
         <th>Course Name</th>
         <th>Course Trainer</th>
        </tr>

    </thead>
    <tbody>
        <tr (click)="onSelect(course)" *ngFor="let course of courses">
            <td>{{course.cid}}</td>
            <td>{{course.cname}}</td>
            <td>{{course.trainer}}</td>

        </tr>
    </tbody>
</table>
<hr>
 <!-- <router-outlet></router-outlet> -->