<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand"  >Uplatz</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='home' routerActive='active'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='about' routerActive='active'>About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='services' routerActive='active'>Services</a>
    </li>
    <!-- DroopDown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink='' routerActive='active' id="navbardrop" data-toggle="dropdown"> 
      Courses
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink='java14' routerActive='active' >Java14</a>
      <a class="dropdown-item" routerLink='angular10' routerActive='active' >Angular10</a>
      <a class="dropdown-item" routerLink='expressjs' routerActive='active' >ExpressJs</a>
    </div>
    </li>

    <li class="nav-item">
    <a class="nav-link" routerLink='contact' routerActive='active'>Contact</a>
    </li>
  </ul>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
